
body {
	background-color: #80d0c7;
	background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
